{% extends 'services/base.html' %}

{% block head %}
<title>Кабинет</title>
{% endblock %}

{% block content %}
<div class="tool-container">
    <h1 class="title">Здравствуйте! Выберите инструмент:</h1>
    <p class="link-container"><a href="{% url 'indexer' %}">Индексатор</a></p>
    <p class="link-container"><a href="#">SEO-бот</a></p>
    <p class="link-container"><a href="#">Checker-бот</a></p>
    <p class="link-container"><a href="#">Еще ссылка :)</a></p>
</div>
{% endblock %}