{% extends 'services/base.html' %} 

{% block head %}
<title>Отчеты</title>
{% endblock %}

{% block content %}
    <table class="reports-table">
        <thead>
            <tr>
                <th scope="col">NMID</th>
                <th scope="col">Дата</th>
                <th scope="col">Готов</th>
                <th scope="col">Скачать</th>
            </tr>
        </thead>
        <tbody>
            {% for report in page_content %}
            <tr>
                <td data-cell="nmid">{{ report.nmid }}</td>
                <td data-cell="date">{{ report.date }}</td>
                {% if report.ready %}
                <td class="report-state">Y</td>
                <td><a href="{% url 'download_report' report_id=report.id %}">Скачать</a></td>
                {% else %}
                <td class="report-state">N</td>
                <td class="no-download-button">Недоступно</td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        {% include 'services/pagination.html' with page_content=page_content page_obj=page_obj %}
    </footer>
{% endblock %}