<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Индексатор</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'services/css/indexer.css' %}">
</head>
<body>
    <a href="{% url 'cabinet' %}" class="nav-link">Кабинет</a>
    <a href="{% url 'indexerReports' %}" class="nav-link">Все отчеты</a>
        <form action="{% url 'indexer' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{ form.file }}
            </p>
            <p><input type="submit" value="Загрузить"></p>
        </form>
    <table>
        <thead>
        <tr>
            <th scope="col">NMID</th>
            <th scope="col">Название</th>
            <th scope="col">О товаре</th>
            <th scope="col">Статистика</th>
        </tr>
        </thead>
        <tbody>
        {% for data in page_content %}
        <tr>
            <td data-cell="nmid">{{ data.nmid }}</td>
            <td data-cell="name">{{ data.name }}</td>
            <td><a href="{{ data.url }}">Подробнее</a></td>
            <td><a href="{% url 'detail-report-info' reports_nmid=data.nmid %}">Отчеты</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>