{# Переменная отвечающая за передачу get параметров #}

<div class="pagination">
    <span class="step-links">
        {% if page_content.has_previous %}
            <a class="pagination" href="?page=1{{ additional_parameters_get_query }}">&laquo; first</a>
        {% endif %}
        {% if page_content.has_previous %}
            <a class="pagination" href="?page=1{{ additional_parameters_get_query }}">&laquo; first</a>
            <a class="pagination" href="?page={{ page_obj.previous_page_number }}{{ additional_parameters_get_query }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_content.number }} of {{ page_content.paginator.num_pages }}
        </span>

        {% if page_content.has_next %}
            <a href="?page={{ page_content.next_page_number }}{{ additional_parameters_get_query }}">next</a>
            <a href="?page={{ page_content.paginator.num_pages }}{{ additional_parameters_get_query }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<style>
    .pagination {
      display: inline-block;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
</style>