{% extends 'services/base.html' %}

{% block head %}
	<title></title>
{% endblock %}

{% block content %}
        <table class="reports-table">
    		<thead>
                <tr>
                    <th scope="col">Запрос</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Глубина</th>
                    <th scope="col">Полностью собран</th>
                    <th scope="col">Скачать</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for query in page_content %}
                <tr>
                	<a>
    	                <td data-cell="query"><a href="{% url 'seo_collector_query' %}?pk={{ query.pk }}">{{ query.query }}</a></td>
    	                <td data-cell="date">{{ query.create_date|date:"N j, Y" }}</td>
    	                <td data-cell="depth">{{ query.depth }}</td>
                        <td data-ceil="completed">{% if query.completed %}Да{% else %}Нет{% endif %}</td>
                        <td data-ceil="download">{% if query.completed %}<a href="{% url 'download_seo_collector_query' %}?pk={{ query.pk }}">Скачать файл</a>{% else %}Полностью не загружен{% endif %}</td>
                        <td data-ceil="delete"><a href="{% url 'delete_seo_report' query_pk=query.pk %}">удалить</a></td>
                	</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <form action={% url 'seo_collector_all_query' %} method=post>
            	{% csrf_token %}
            	<div>Запрос: </div>
            	<input name='query' type='text'>
            	<div>Глубина: </div>
            	<input name='depth' type='text'>
            	<div><button type="submit" style="width: 100px; height: 20px;">Запустить</button></div>
            </form>
        <footer>
            {% include 'services/pagination.html' with page_content=page_content page_obj=page_obj %}
        </footer>
{% endblock %}