<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отчеты</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'services/css/indexer.css' %}">
</head>
<body>
    <a href="{% url 'seo_collector_all_query' %}">Вернуться назад</a>
    <table class="reports-table">
        <thead>
            <tr>
                <th scope="col">NMID</th>
                <th scope="col">Фраза</th>
                <th scope="col">Глубина</th>
                <th scope="col">Частота</th>
                <th scope="col">Топовая категория</th>
            </tr>
        </thead>
        <tbody>
            {% for keyword_data in page_content %}
            <tr>
                <td data-cell="nmid">{{ keyword_data.nmid }}</td>
                <td data-cell="keywords">{{ keyword_data.keywords }}</td>
                <td data-cell="req_depth">{{ keyword_data.req_depth }}</td>
                <td data-cell="frequency">{{ keyword_data.frequency }}</td>
                <td data-cell="top_category">{{ keyword_data.top_category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        <div class="pagination">
            <span class="step-links">
                {% for page_obj in paginator.page_range %}
                    {% if page_obj.number == numb_page %} 
                    <a class="pagination" href="?page={{ p }}&pk={{ pk }}">{{ p }}</a>
                    }

                {% endfor %}
                {% if page_content.has_previous %}
                    <a class="pagination href="?page=1&pk={{ pk }}">&laquo; first</a>
                {% if page_content.has_previous %}
                    <a class="pagination href="?page=1&pk={{ pk }}">&laquo; first</a>
                    <a class="pagination href="?page={{ page_obj.previous_page_number }}&pk={{ pk }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_content.number }} of {{ page_content.paginator.num_pages }}
                </span>

                {% if page_content.has_next %}
                    < href="?page={{ page_content.next_page_number }}&pk={{ pk }}">next</a>
                    <a href="?page={{ page_content.paginator.num_pages }}&pk={{ pk }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <style>
            .pagination {
              display: inline-block;
            }

            .pagination a {
              color: black;
              float: left;
              padding: 8px 16px;
              text-decoration: none;
            }
        </style>
    </footer>
</body>
</html>
