{% extends 'services/base.html' %}

{% block head %}
    <title>Отчеты</title>
{% endblock %}

{% block content %}
    <a href="{% url 'seo_collector_all_query' %}">Вернуться назад</a>
    <table class="reports-table">
        <thead>
            <tr>
                <th scope="col">NMID</th>
                <th scope="col">Фраза</th>
                <th scope="col">Глубина</th>
                <th scope="col">Частота</th>
                <th scope="col">Топовая категория</th>
            </tr>
        </thead>
        <tbody>
            {% for keyword_data in page_content %}
            <tr>
                <td data-cell="nmid">{{ keyword_data.nmid }}</td>
                <td data-cell="keywords">{{ keyword_data.keywords }}</td>
                <td data-cell="req_depth">{{ keyword_data.req_depth }}</td>
                <td data-cell="frequency">{{ keyword_data.frequency }}</td>
                <td data-cell="top_category">{{ keyword_data.top_category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        {% include 'services/pagination.html' with 
            page_content=page_content 
            page_obj=page_obj 
            additional_parameters_get_query="&pk="|add:pk 
        %}
    </footer>
{% endblock %}